body {
  background: linear-gradient(135deg,#1f4037,#99f2c8);
  font-family: Arial;
  color: #fff;
  text-align: center;
  animation: fade 1s;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background: #000;
  color: #fff;
  border: none;
}

@keyframes fade {
  from {opacity:0}
  to {opacity:1}
}
